* {
    padding: 0;
    margin: 0;
    font-family: serif;
}

body {
    font-size: 14px;
}

.container {
    width: 50%;
    margin: 3px auto;
    padding: 12px;
    border: 1px solid #0F2A3D;
    border-radius: 15px;
    transform: translateY(30%);
}

form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #0F2A3D;
}

.icon {
    width: 100%;
    text-align: center;
}

svg {
    width: 94px;
    height: auto;
    fill: #0F2A3D;
}

#mail, #pss, #valid {
    height: 30px;
    padding: 3px 7px;
    margin-top: calc(1vw + 3px);
    margin-bottom: calc(1vw + 7px);
    border-radius: 7px;
        border: 1px solid #0F2A3D;
}

#valid {
    background-color: #0F2A3D;
    color: #ffffff;
    font-size: large;
}

.term{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px){
    .container{
        width: 80%;
    }
}